body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:0px;
  width:485px;
  height:780px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:780px;
}
#u1 {
  position:absolute;
  left:2px;
  top:382px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:63px;
  top:77px;
  width:360px;
  height:640px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3 {
  position:absolute;
  left:62px;
  top:75px;
  width:364px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:371px;
  top:80px;
  width:15px;
  height:17px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:327px;
  top:78px;
  width:21px;
  height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:349px;
  top:80px;
  width:18px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:390px;
  top:81px;
  width:29px;
  height:17px;
  opacity:0.699999988079071;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:63px;
  top:667px;
  width:363px;
  height:50px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:-1px;
  width:360px;
  height:49px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:49px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:69px;
  top:12px;
  width:22px;
  height:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:168px;
  top:12px;
  width:24px;
  height:24px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:269px;
  top:13px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:61px;
  top:666px;
  width:368px;
  height:53px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:53px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:132px;
  top:679px;
  width:22px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:231px;
  top:679px;
  width:24px;
  height:24px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:332px;
  top:680px;
  width:22px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:89px;
  top:115px;
  width:38px;
  height:38px;
  opacity:0.600000023841858;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u31 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:222px;
  top:670px;
  width:41px;
  height:41px;
  overflow:hidden;
}
#u32_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:124px;
  top:670px;
  width:41px;
  height:41px;
  overflow:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:153px;
  top:147px;
  width:178px;
  height:66px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:66px;
}
#u35 {
  position:absolute;
  left:2px;
  top:25px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:143px;
  top:140px;
  width:197px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
