/* #e3e0cf */

body {
	overflow-x: hidden;
	font-family:  "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.text-muted {
	color: #9fa8a3
}
.text-primary {
	color: #9fa8a3
}

p {
	font-size: 14px;
	line-height: 1.75;
}

.description {
    font-size: 11px;
    line-height: 1.75;
     color: #c3bc97;
}
.profession {
    font-size: 12px;
    line-height: 0;
 
}

p.large {
	font-size: 14px
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0
}
a {
	color: #898e8b;
    /* text-decoration: underline; */
}
a:hover, a:focus, a:active, a.active {
	color: #e3e0cf;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
    color: #898e8b;
}

.h4, h4 {
    font-size: 14px;
}
.img-centered {
	margin: 0 auto
}

.container {
    max-width: 1000px;
}

.btn-primary {
	color: #fff;
	background-color: #e3e0cf;
	border-color: #e3e0cf;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #e3e0cf;
	border-color: #e3e0cf
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #e3e0cf;
	border-color: #e3e0cf
}
.btn-primary .badge {
	color: #e3e0cf;
	background-color: #fff
}
.btn-xl {
	color: #fff;
	background-color: #c5d5cb;
	border-color: #c5d5cb;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 10px 20px;
    margin-top: 20px
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	color: #fff;
	background-color: #9fa8a3;
	border-color: #9fa8a3
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	background-image: none
}

.btn-md {
	color: #fff;
	background-color: #c5d5cb;
	border-color: #c5d5cb;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 10px 50px;
    margin: -10px 0px 70px 0px
}
.btn-md:hover, .btn-md:focus, .btn-md:active, .btn-md.active, .open .dropdown-toggle.btn-md {
	color: #fff;
	background-color: #9fa8a3;
	border-color: #9fa8a3
}

.btn-md:active, .btn-md.active, .open .dropdown-toggle.btn-md {
	background-image: none
}

.btn-sm {
	color: #9fa8a3;
	background-color: #e3e0cf;
	border-color: #e3e0cf;
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	border-radius: 3px;
	font-size: 18px;
	padding: 10px 40px;
    margin: -10px 0px 70px 0px;
    margin-top:40px
}
.btn-sm:hover, .btn-sm:focus, .btn-sm:active, .btn-sm.active, .open .dropdown-toggle.btn-sm {
	color: #e3e0cf;
	background-color: #9fa8a3;
	border-color: #9fa8a3
}

.btn-sm:active, .btn-sm.active, .open .dropdown-toggle.btn-sm {
	background-image: none
}

.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	background-image: none
}

.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
	background-color: #e3e0cf;
	border-color: #e3e0cf
}
.btn-xl .badge {
	color: #e3e0cf;
	background-color: #fff
}
.navbar-default {
	background-color: #9fa8a3;
	border-color: transparent
}
.navbar-default .navbar-brand {
	color: #fff;
    font-family: 'Satisfy', cursive, "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-default .navbar-brand:hover, .navbar-default {
	color: #c5d5cb;
}

.navbar-default .navbar-brand.active{
    color: #fff;
}

.navbar-brand:active, .navbar-default .navbar-brand:focus{
    color: #fff;
}

.navbar-default .navbar-collapse {
	border-color: rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle {
	background-color: transparent;
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #e3e0cf
}
.navbar-toggle {
    margin-right: 0;
}

.navbar-default .nav li a {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	color: #e3e0cf;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
	color: #fff;
	outline: 0
}

.navbar-default .nav .resume a:focus {
    color: #e3e0cf;
    outline: 0;
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: transparent;
}

@media (min-width:768px) {
.navbar-default {
	padding: 10px 0;
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	transition: padding .3s;
	border: 0
}
.navbar-default .navbar-brand {
	font-size: 2.5em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}
.navbar-default .navbar-nav>.active>a {
	border-radius: 3px
}
.navbar-default.navbar-shrink {
	background-color: #9fa8a3;
    /* f2f2f2 */
	padding: 05px 0
}
.navbar-default.navbar-shrink .navbar-brand {
	font-size: 2em
}
}

header {
	background-color: #e3e0cf;
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 0px
}
header .intro-text .intro-lead-in {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 25px;
    padding-bottom: 50px
}
header .intro-text .intro-heading {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px
}

@media (min-width:768px) {
header .intro-text {
	padding-top: 240px;
	padding-bottom: 200px
}
header .intro-text .intro-lead-in {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 25px;
    padding-bottom: 50px
}
    
    
header .intro-text .intro-heading {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 75px;
	line-height: 75px;
	margin-bottom: 50px
}
}

@media (max-width:768px) {
header .intro-text {
	padding-top: 150px;
	padding-bottom: 100px
}
}


section {
	padding: 100px 0
}
section h2.section-heading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 40px;
    text-decoration-color: #9fa8a3;
}
section h3.section-subheading {
	font-size: 16px;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	font-style: italic;
	font-weight: 400;
    padding-bottom: -40px;
	margin-bottom: 60px;
    text-decoration: #9fa8a3;
}


section#about{
    background-color: #fffefb;
}
.about-photo {
    
	text-align: center;
	margin-bottom: 50px;
}

.about-text{
    color: #777;
}

.quotes {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
	font-weight: 10;
	font-size: 15px;
	line-height: 30px;
    margin-top: 15px;
	margin-bottom: 15px;
    color: #c5d5cb;
}

@media (max-width:768px) {

    .quotes {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
	font-weight: 10;
	font-size: 16px;
	line-height: 40px;
        
	margin-bottom: 15px;
    color: #c5d5cb;
    }
}


section#portfolio {
	background-color: #fff;
}

@media (min-width:768px) { 
section {
	padding: 60px 0
}
}

.portfolio {
    margin-top: 80px;   
}
#portfolio .portfolio-item {
	margin: 0 0 4px;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
}
#portfolio .portfolio-item .portfolio-link {
	display: block;
	position: relative;
	margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	background: rgba(255, 255, 255,.93);
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
	opacity: 1
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
	position: absolute;
	width: 100%;
	height: 20px;
	font-size: 20px;
	text-align: center;
	top: 50%;
	margin-top: -12px;
	color: #fff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
	margin-top: -12px
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
	margin: 0
}
#portfolio .portfolio-item .portfolio-caption {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff; 
	text-align: center;
	padding: 25px
}
#portfolio .portfolio-item .portfolio-caption h4 {
	text-transform: none;
	margin: 0
}
#portfolio .portfolio-item .portfolio-caption p {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 16px;
	margin: 0
}
#portfolio * {
	z-index: 2
}

@media (min-width:767px) {
#portfolio .portfolio-item {
	margin: 0 0 4px 0
}
}

section#contact {
	background-color: #fffefb;
	background-position: center;
	background-repeat: no-repeat
}
.section-heading {
	color: #9fa8a3;
    font-size: 20px;
}
section#contact .form-group {
	margin-bottom: 25px
}
section#contact .form-group input, section#contact .form-group textarea {
	padding: 10px
}
section#contact .form-group input.form-control {
	height: auto
}
section#contact .form-group textarea.form-control {
	height: 150px
}
section#contact .form-control:focus {
	border-color: #eae5cc;
	box-shadow: none
}
section#contact ::-webkit-input-placeholder {
font-family:Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform:uppercase;
font-weight:700;
color:#bbb
}
section#contact :-moz-placeholder {
font-family:Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform:uppercase;
font-weight:700;
color:#9fa8a3
}
section#contact ::-moz-placeholder {
font-family:Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform:uppercase;
font-weight:700;
color:#c5d5cb
}
section#contact :-ms-input-placeholder {
font-family:Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform:uppercase;
font-weight:700;
color: #9fa8a3
}
section#contact .text-danger {
	color: #e74c3c
}
footer {
	padding: 15px 0;
	text-align: center;
    background-color: #9fa8a3;
}
footer span.copyright {
	line-height: 40px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-transform: none
}
footer ul.quicklinks {
	margin-bottom: 0;
	line-height: 40px;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-transform: none
}
ul.social-buttons {
	margin-bottom: 0
}
ul.social-buttons li a {
	display: block;
	background-color: #c5d5cb;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	outline: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	background-color: #e3e0cf
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
	outline: 0
}
.portfolio-modal .modal-content {
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	min-height: 100%;
	padding: 100px 0;
	text-align: center
}
.portfolio-modal .modal-content h2 {
	margin-bottom: 15px;
	font-size: 3em
}
.portfolio-modal .modal-content p {
	margin-bottom: 30px
}
.portfolio-modal .modal-content p.item-intro {
	margin: 20px 0 30px;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 16px
}
.portfolio-modal .modal-content ul.list-inline {
	margin-bottom: 30px;
	margin-top: 0
}
.portfolio-modal .modal-content img {
	margin-bottom: 30px
}
.portfolio-modal .close-modal {
	position: absolute;
	width: 75px;
	height: 75px;
	background-color: transparent;
	top: 25px;
	right: 25px;
	cursor: pointer
}
.portfolio-modal .close-modal:hover {
	opacity: .3
}
.portfolio-modal .close-modal .lr {
	height: 75px;
	width: 1px;
	margin-left: 35px;
	background-color: #9fa8a3;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	z-index: 1051
}
.portfolio-modal .close-modal .lr .rl {
	height: 75px;
	width: 1px;
	background-color: #9fa8a3;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	z-index: 1052
}
.portfolio-modal .modal-backdrop {
	opacity: 0;
	display: none
}
.portfolio-description_1{
        font-size: 0.9em
}

.img-canvas {
    max-width: 300px;
}

.link-icon {
    padding-top: 10px;
    padding-right: 10px;
}

@media (min-width:767px) {
    .portfolio-description {
        margin-left: -120px;
        margin-right: 100px;
        margin-top: 60px;
        font-size: 0.9em
}
}

@media (max-width:767px) {
    .portfolio-description {
        font-size: 0.7em
}
    .img-min-size {
        min-width: 300px;
}
    .img-max-size {
        max-width: 200px;
}
    #portfolio .portfolio-item {
	margin: 0 0 2px;
    position: relative;
    padding-left: 1px;
    padding-right: 1px;
}
    .container {
     padding-left: 40px;
     padding-right: 40px;
}
    #portfolio {
    margin-top: 0px;   
}
    .portfolio {
    margin-top: 60px;   
}
    section {
	padding: 30px 0
}
    .portfolio-description_1{
        font-size: 0.8em
}
    .profession {
     font-size: 12px;
     line-height: 0;
      margin: 0 0 20px;
}
    .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 28px;
}
    .profession {
    font-size: 9.5px;
    line-height: 0;
    margin: 0 0 15px 14px;
}
    p {
    font-size: 11px;
    line-height: 1.6;
}

    .about-photo {
    margin-bottom: 30px;
}
    .quotes {
    font-size: 12px;
    line-height: 20px;
}
    .navbar-toggle {
    padding: 5px 5px;
    margin-top: 16px;
    }
    
    .portfolio-modal .close-modal .lr {
	height: 40px;
	width: 1px;
	margin-left: 50px;
	background-color: #9fa8a3;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	z-index: 1051
}
.portfolio-modal .close-modal .lr .rl {
	height: 40px;
	width: 1px;
	background-color: #9fa8a3;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	z-index: 1052
}
.portfolio-modal .modal-content {
    padding: 50px 0;

}
.btn-xl {
    font-weight: 600;
    font-size: 15px;
    padding: 10px 20px;
}
    .portfolio-modal .modal-content h2 {
    font-size: 2.5em;
}
    .h3, h3 {
    font-size: 14px;
    margin-top: 15px;
}
    body {
    font-size: 11px;
}
    .description {
    font-size: 9px;
    line-height: 1.75;
     color: #c3bc97;
}
}



::-moz-selection {
text-shadow:none;
background:#e3e0cf
}
::selection {
	text-shadow: none;
	background: #e3e0cf
}
img::selection {
	background: 0 0
}
img::-moz-selection {
background:0 0
}

